* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #242424;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_back, .card_front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.card_front {
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card_back {
    color: #e0edff;
    background-color: #5a00eb;
    font-size: 30px;
}

#gameOver {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
}

#restart {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#restart:hover {
    background-color: gold;
    transform: scale(1.02);
}

#gameBoard {
    max-width: 700px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

@media (max-width: 700px) {
    .card {
        width: 70px;
        height: 70px;
    }
    .card_back, .card_front {
        font-size: 20px;
        border-radius: 10%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    }
    .icon {
        width: 90%;
    }
}